<%- include("header.ejs")%>
<!-- <meta name="viewport" content="width=device-width,initial-scale=0.05"> -->

<script>$('#1').css('background','#85D8CE');$('#1').css('border-radius','10px')</script>
<style>
	.ourcommentary{
		width:60%;
	}
	.comment{
		border: 1px solid #ebebe0;
		box-shadow: 0 4px 8px 4px rgba(0,0,0,0.2);
	}
	.wicket
	{
		background:#ff0000;border-radius:20px;color:white;height:35px;
	}
	.run{
		background:#e0e0d1;border-radius:20px;height:35px;
	}
	.four{
	    background:#4d94ff;border-radius:20px;color:white;height:35px;
	}
	.six{
		background:#009900;border-radius:20px;color:white; height:35px;
	}
	.lastover,.present{
		font-size:1.2rem;
	}
	.above{
		margin-left:15%;
		width:70%;
	}
	.side{
		font-size:0.7rem;
		padding-left:3px;
	}
	#status{
		font-size:0.9rem;
	}
	.shuffle{
		width:70%;
		margin-left:15%;
	}
	#title{
		margin-left:30%;
	}
	
	
	@media only screen and (max-width: 600px) {
		.list-group-item{
			font-size:0.6rem;
		}
		#location,#status,.lastover,.present{
			font-size:0.7rem;
		}
		.above,.ourcommentary{
			width:100%;
			margin-left:0%;
			font-size:0.6rem;
		}
		.side{
			font-size:4.5px;
			padding-left:2px;
		}
		.shuffle{
			width:100%;
			margin-left:0%;
		}
		#title{
			margin-left:20%;
		}
		
	}
</style>

<!-- ----------- -->
<div class="container">
	<div class="above row">
<div class="card px-0" >
	<div class="card-header">
		<span style="color:#ff0000;margin-bottom:0;"><b>LIVE</b></span>
		<span id ="title" style="font-weight:700;"></span>
	</div>
              <div class="card-body py-1">
                <h6 id ="location" class="card-subtitle mb-2 text-muted text-center"></h6>
				  <div class="container px-1">
					  <div class="row">
						  <div class="col-8 pe-2" style="border-right:2px solid #cccccc;">
					  <div class="row pd-1">
						  <div class="col ps-0 d-flex justify-content-start">
							  &nbsp; <img src=""  id ="team1img" height=20 width=30>&nbsp;&nbsp;<b id ="team1"></b>
						  </div>
						  <div class="col d-flex justify-content-end">
							  <span id="overs1"></span><b id="score1"></b>
						  </div>
					  </div>
					  <div class="row">
						  <div class="col ps-0 d-flex justify-content-start">
							  &nbsp; <img src ="" height=20 width=30 id="team2img">&nbsp;&nbsp;<b id="team2"></b>
						  </div>
						  <div class="col d-flex justify-content-end">
							  <span id="overs2"></span><b id="score2"></b>
						  </div>
					  </div>
						  </div>
						  <div class="col-2 side">
							  <span class="text-muted">Current Batsmen:-</span>
							  <p class="my-0">
								  <span id="onstrike">  </span>&nbsp;<span id="onstrike_score"></span>
							  </p>
							  <p class="my-0">
								 <span id="offstrike"> </span>&nbsp;<span id="offstrike_score"></span>
							  
							  </p>
						  </div>
						  <div class="col-2 side">
							  <span class="text-muted">Current Bowler:-</span>
							  <p class="my-0">
								 <span id="currbowler">  </span>&nbsp;<span id="currbowler_figure"></span>
							  							  </p>
						  </div>
					  </div>
				  </div>
				  <hr style="margin:0;">
				  <p style="margin:3px 0 0 0;text-align:center;color:#ff0000;" id="status"></p>
             
   </div>
</div>
	</div>

	<div class="list-group list-group-horizontal box5 shuffle" id="list-tab" role="tablist" >
		<a class="list-group-item list-group-item-action  text-center active"  href="/match/<%=id%>/commentary" role="tab">Commentary
		</a>
      <a class="list-group-item list-group-item-action text-center "   href="/match/<%=id%>/scorecard" role="tab">Scorecard
		</a>
	</div>
	
<!-- commentary	 -->
<div class="container ourcommentary">	
	<div id="main" class="row comment my-5">
		
		
	</div>
</div>
</div>
<script>
   async function getISS()
	{
		var id = <%- JSON.stringify(id) %>;
	
		 const response = await fetch("/match/"+id+"/api");  
        const data = await response.json();
		document.getElementById('title').innerText=data.title;
		document.getElementById('location').innerText=data.location;
	if(data.inning.length==0)
		{
			$("#team1").text(data.team1.name);
			$("#team2").text(data.team2.name);
			$("#team1img").attr("src",data.team1.image);
			$("#team2img").attr("src",data.team2.image);
			
			$('#main').text("Match has not started yet....Stay Tuned!!");
		}
		else{
			$("#team1").text(data.inning[0].team); var x=1;
			if(data.inning[0].team.trim()==data.team1.name.trim())
			{$("#team1img").attr("src",data.team1.image);x=2;}
		    else
				$("#team1img").attr("src",data.team2.image);
			if(x==2)
				{
					$("#team2").text(data.team2.name);
					$("#team2img").attr("src",data.team2.image);								}
			else
				{
					$("#team2").text(data.team1.name);
					$("#team2img").attr("src",data.team1.image);
				}
			var z = data.inning[0].currentScore+'/'+data.inning[0].wickets;
			$("#score1").text(z);
			
			$("#overs1").text('('+data.inning[0].overs+')');
			 if(data.inning.length>1)
				 {
					 	$("#team2").text(data.inning[1].team);
			if(data.inning[1].team.trim()==data.team1.name.trim())
			$("#team2img").attr("src",data.team1.image);
		    else
				$("#team2img").attr("src",data.team2.image);
			$("#score2").text(data.inning[1].currentScore+'/'+data.inning[1].wickets);
			$("#overs2").text('('+data.inning[1].overs+')');
		
				 }
			if(data.inning[data.inning.length-1].onStrike)
				{
			$("#onstrike").text(data.inning[data.inning.length-1].onStrike.name);
			$("#onstrike_score").text(data.inning[data.inning.length-1].onStrike.runs + '('+data.inning[data.inning.length-1].onStrike.ballsFaced+')');
			$("#offstrike").text(data.inning[data.inning.length-1].offStrike.name);
			$("#offstrike_score").text(data.inning[data.inning.length-1].offStrike.runs + '('+data.inning[data.inning.length-1].offStrike.ballsFaced+')');
			$("#currbowler").text(data.inning[data.inning.length-1].currentBowler.name);
			$("#currbowler_figure").text(data.inning[data.inning.length-1].currentBowler.runsConc +'/'+data.inning[data.inning.length-1].currentBowler.wickets+ '('+data.inning[data.inning.length-1].currentBowler.oversBowled+')');
				}
		}
		$("#status").text(data.status);
		$("#main").text('');var rns =0;
		data.commentary.reverse();
		data.commentary.forEach(function(ball)
							   { var cl;if(ball.isComment)
								   {
								$("#main").append("<div>"+ball.comment+"</div>");	   
								   }
								else if(ball.isOver)
								   { console.log("HI");
									var over =  (data.inning[data.inning.length-1].overs-1);
									
							$('#main').append("<div class='col-1 py-2' style='background:#0033cc;color:white;'><span></span></div><div class='col py-2' style='background:#0033cc;color:white;'><span class='lastover'>Last Over: "+ball.overRuns+" runs</span></div><div class='col py-2'  style='background:#0033cc;color:white;' ><span class='present'>"+data.inning[data.inning.length-1].team+" - "+ball.overScore+"</span></div><hr class='m-0' style='color:#bfbfbf;'>");	 rns =0;    
								   }
								else{rns+=ball.runs;if(ball.desc[ball.desc.length-1]=='+')ball.desc = ball.desc.substr(0,ball.desc.length-1);
								if(ball.desc.includes("W"))cl = 'wicket'; else if(ball.runs==6)cl= 'six'; else if(ball.runs==4)cl='four'; else cl='run'; var runs;if(cl=='wicket')runs ='OUT';else if(ball.runs==1)runs = ball.runs +' run';else runs = ball.runs+' runs';
			$('#main').append("<div class='col-1 py-3 d-flex justify-content-center align-items-center'> <span class='over'>"+ball.over+"</span></div><div class='col-1 my-4 mx-2 d-flex justify-content-center align-items-center "+ cl +"'><span class=' runs'>"+ball.desc+"</span></div><div class='col py-3'><span class='result text-muted'>"+ball.bowler+" to "+ball.batsman+", "+runs+"</span>	<div><span class='description'>"+ball.comment+"</span></div></div><hr class='m-0' style='color:#bfbfbf;'>");
		}
							   });
							   
	}
	getISS();
	setInterval(getISS,3000);
</script>
<%- include("footer.ejs")%>