<%- include("header.ejs")%>	
<script>$('#6').css('background','#85D8CE');$('#6').css('border-radius','10px')</script>
<style>.bc{
	width:50%;
	}
	.author{
		height:40px;width:40px;border-radius:20px;
	}
	.cmt{
		font-size:0.9rem;
		height:70px;
	}
	@media only screen and (max-width: 600px) {
		.bc{
			width:100%
		}
		#comment{
			display:none
		}
		.author
		{
			height:20px;width:20px;border-radius:10px;
		}
		#b1{
			font-size:0.9rem;
		}
		#p1
		{
			font-size:0.7rem;
			margin-bottom:none;
		}
		.cmt{
			height:60px;
		}
	}
</style>
<style>button:focus{outline:none}</style>
<div class="container bc" style="">
	 <h2 class="heading" style="padding-top:5px"> Memes <img loading="lazy" src="https://tse3.mm.bing.net/th?id=OIP.-_E9PoKBOA3dh3u91jtwbQHaEc&pid=Api&P=0&w=276&h=166" style="height:50px;width:80px;margin-left:0;"></h2>
	<hr> 
  <div class="row">
		  
			<%memes.forEach(function(meme){%>
			<div class="col-8 mb-5 me-md-2" style="border-right:2px solid rgba(200,200,200,0.5);">
			  <img loading="lazy" src="<%=meme.url%>" style="height:300px;width:100%;border-radius:20px;box-shadow: 5px 5px 5px #888888;">
			</div>
	  <div class="col ms-md-2">
		  <div>
			  <button type="button"  style="border:none; background:none"data-bs-toggle="modal" data-bs-target="#like<%=meme._id%>"><span style="color:blue;"><i class="far fa-thumbs-up" style="height:20px;width:20px;"></i>(<%=meme.likes%>)</span></button>&nbsp;&nbsp;
			  <button type="button"  style="border:none; background:none"data-bs-toggle="modal" data-bs-target="#love<%=meme._id%>">  <span style="color:red;"><i class="far fa-heart" style="height:20px;width:20px;"></i>(<%=meme.loves%>)</span></button> &nbsp; &nbsp;
			  <button type="button"  style="border:none; background:none"data-bs-toggle="modal" data-bs-target="#comment<%=meme._id%>"> 	  <span style="color:black;"><i class="far fa-comment" style="height:20px;width:20px;"></i>(<%=meme.comments.length%>)</span></button>
		  </div>
		  <hr>
		  <div class="row" style="height:200px; overflow-y:auto">
			  <%meme.comments.forEach(function(comment)
									 {%>
				  
			
			  <div class="cmt mb-2" style="background:rgba(220,220,220,0.5);border-radius:15px;text-align:start;">
				  <b id='b1'><%=comment.author%></b>
				  <p id='p1'class='mt-1'><%=comment.text%>
					  </p>
			  </div>
			   <% })%>
		  </div>
	  </div>
	  <hr>
			<%})%>
	</div>
</div>
<%var x =-1; memes.forEach(function(meme){%>
		<%x++%>
<div class="modal" id="like<%=meme._id%>" tabindex="-1" style="margin-top:15%"aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Like</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
		<form action ="/memes/like/<%=meme._id%>" method="POST" onsubmit="return submitUserForm(<%=x%>,'<%=meme._id%>like');">
		
      <div class="modal-body">
       	Add Your Name:-<input name ="name" type="text">
		<div id="mydiv<%=x%>" class="mt-2" ></div>
     <div id="<%=meme._id%>like"></div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" class="btn btn-primary">Like</button>
			 </div></form>
    </div>
  </div>
</div>
		<%x++%>
<div class="modal" id="love<%=meme._id%>" tabindex="-1" style="margin-top:15%"aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Love</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
		 <form action ="/memes/love/<%=meme._id%>" method="POST" onsubmit="return submitUserForm(<%=x%>,'<%=meme._id%>love');">
		
      <div class="modal-body">
       	Add Your Name:-<input name ="name" type="text">
		<div id="mydiv<%=x%>" class="mt-2" ></div>
     <div id="<%=meme._id%>love"></div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" class="btn btn-danger">Love</button>
			 </div></form>
    </div>
  </div>
</div>

		<%x++%>
<div class="modal" id="comment<%=meme._id%>" tabindex="-1" style="margin-top:15%"aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Comment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
		<form action ="/memes/comment/<%=meme._id%>" method="POST" onsubmit="return submitUserForm(<%=x%>,'<%=meme._id%>comment');">
		
      <div class="modal-body">
       	Add Your Name:-<input name ="name" type="text"><br><br>
		Comment:-<br>
		  <textarea name ="comment"maxlength=60 cols=40 rows=5></textarea>
		<div id="mydiv<%=x%>" class="mt-2" ></div>
     <div id="<%=meme._id%>comment"></div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button submit" class="btn btn-success">Comment</button>
			 </div></form>
    </div>
  </div>
</div><%})%>

<script>
	
	  var CaptchaCallback = function() {
		  var x = <%-JSON.stringify(memes)%>;
		  x=x.length;
		  x=x*3;
		  for(var i =0; i<x;i++)
			  {
                grecaptcha.render('mydiv'+i, {'sitekey' : '6LehEZkaAAAAAH4H3igyRG0qKalkIG7_GAcSz5d-'});}
                 };
function submitUserForm(x,id) {
	
    var response = grecaptcha.getResponse(x);
	if(response.length == 0) {
	alert('Please verify the captcha');

         return false;
    }
    return true;
}

</script>
<%- include("footer.ejs")%>	