<%- include("header.ejs")%>
<script>$('#4').css('background','#85D8CE');$('#4').css('border-radius','10px')</script>
	
  <style>
	

	  .cal {
		  color:#274;
		  
	  }
	  .news{
		  width:60%; }
	  b:hover{
		  color: rgba(0,0,255,0.7);
	  }
	  .row{
		  margin-top:50px;
	  }
	  /* span .heading{
		  font-size: 50px;
	  } */
	  input
	  {
		  border-radius:10px;
		  border-color:white;
		  box-shadow: 2px 2px 0 0 rgba(0,0,0,0.2);
	  }
	  
	  ::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
	  
		  .newsimg{
			  width:100%;
		  }
	  @media only screen and (min-width: 700px) and (max-width: 1000px) {
		  .newsimg{
			 width:115%; height:120px; margin-bottom:5px;
		  }
		  
		  .newsdata{
			  font-size:0.65rem;
			  margin-left:10px;
		  }
		  .page12{
			  width:70%;
			  
			  overflow-x:scroll;
			  text-align:center;
			  
		  } 
	  }
		  
	  
	  @media only screen and (max-width: 600px) {
		  .newsimg{
			 width:90%; height:120px; margin-bottom:5px;
		  }
		  .news{
			 width:80%; 
		  }
		  .newsdata{
			  font-size:0.65rem;
		  }
		  .page12{
			  width:70%;
			  
			  overflow-x:scroll;
			  text-align:center;
			  
		  } 
	  }
	  
  </style>
  
  <div class="container">
	  
  <div class="row">
	  
		<h2 class="heading text-center">
			Editorials
	    </h2>
	 
	  </div>	 

   <div class="news container" >
	   <hr>
	   <div class ="row" >
		   <%data.forEach(function(news){%>
		   <div class="col-sm-4 col-md-4  mb-2 me-1" >
			   
			   <img class="newsimg"  src ="<%=news.img%>" style =" border-radius:20px; box-shadow: 10px 10px 5px #888888;">
			   
		   </div>
		   <div class ="col-md-7 col-sm-8  mb-2 newsdata" >
			   <b><a href ="/single-news/<%=news.href%>" style ="text-decoration:none">
				   <%=news.title%></a>
			   </b>
			   <p >
				  <span class="text-muted "> <%=news.date%></span>
				   <br>
				   <%=news.desc%>
			   </p>
			   
		   </div>
		   <hr><%})%>
			   
		   	   </div>
	  				 
   </div>
	  <%var x= id; x++;%>
	  <nav  class='page12' aria-label="Page navigation example"  style="margin-left:15%;margin-right:20%">
  <ul class="pagination">
	  <%if(id!=1){%>
    <li class="page-item"><a class="page-link" href="/news/<%=(id-1)%>">Prev</a></li><%}%>

  
	  <%for(var i =1; i<=20;i++){%>
	<li class="page-item <%if(i==id){%>active<%}%>"  id="<%=i%>"><a class="page-link" href="/news/<%=i%>"><%=i%></a></li>
	  
	  <%}%>
	  <%if(id!=20){%>
    <li class="page-item"><a class="page-link" href="/news/<%=x%>">Next</a></li><%}%>
  </ul>
</nav>   
	

 
 <%- include("footer.ejs")%>