<%- include("header.ejs")%>
<script>$('#5').css('background','#85D8CE');$('#5').css('border-radius','10px')</script>

<style>
	tr:nth-child(1)
	{
		font-weight:700;
	}
	img {
		
		border-radius:20px;
		box-shadow: 0 4px 6px 4px rgba(100,100,100,0.5);
	}
	
	input{
		border:none;
		padding:8px;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	
</style>

<div class="container">
	<div class="row">
	<div class="col-6 mb-2" ><form action="/players/search" method="GET">
		<input type="text" id="inp" name="name" placeholder="Name of The Player" size="50" class="mt-3">
		<button type="button submit" class="btn btn-primary">
			Search
		</button></form>
	
</div>

</div>
	<%data.forEach(function(data){%>
	<h1>
		<%=data.head%>
	</h1>
	<span>
		<%=data.country%>
	</span>
	<hr>
	<div class="row">
		<div class="col-9">
			<table class="table table-borderless" style="width:100%">
              <tbody>
                <tr style="font-weight:400">
                  <th  style="width:20%"colspan="2" >Full Name</th>
                  <td><%=data.fullname%></td>
                </tr>
                <tr>
                  <th colspan="2">Born</th>
                  <td><%=data.born%></td>
                </tr>
                <tr>
                  <th colspan="2" >Current Age</th>
                  <td><%=data.age%></td>
                </tr>
				 <tr>
                  <th colspan="2" >Major Teams</th>
                  <td><%=data.teams%></td>
                </tr>
				<tr>
                  <th colspan="2" >Batting Style</th>
                  <td><%=data.bat%></td>
                </tr>
				 <tr>
                  <th colspan="2">Bowling Style</th>
                  <td><%=data.bowl%></td>
                </tr>
            </tbody>
          </table>
		</div>
		<div class="col-3">
			<img src="<%=data.pic%>">
		</div>
	</div>
		<div class="row mt-5">
			
		
			
<%if(data.bio1){%>
		<div class="col-sm-6">
			<h4 class="heading text-start">Biography</h4>
			<div id="bio1"></div>
		</div><%}%>
		<div class="col-sm-6">
			<table id ="batting" class="table" >
	<h4 class="heading text-start">
		Batting Stats
				</h4>
				
</table>
<table id ="bowling" class="table">
	<h4 class="heading text-start">
	Bowling Stats	
	</h4>
	
</table>

		</div>
	</div>
</div>
<%})%>
<script>
	var bio1 = <%-JSON.stringify(data[0])%>;
	var x,z;
	
	$('#bio1').html(bio1.bio1);
	
	$('#batting').html(bio1.z);

		$('#bowling').html(bio1.y);
	
	$('#batting').addClass('table-striped') ;
	$('#bowling').addClass('table-striped') ;
	$('tr:nth-child(1)').css('font-weight','400');

</script>

<%- include("footer.ejs")%>